.van-detail-container {
    padding-inline: 23px
}

.van-detail {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 5px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.van-detail-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-detail > h2{
    margin: 10px 0px;
}

.van-type {
    height: 34px;
    padding: 6px 20px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-price{
    margin: 0;
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {

    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.link-button{
    place-self: center;
    height: 35px;
    width: 250px;
    margin-bottom: 20px;
    background-color: #FF8C38;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}